*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.col-4{
    width: calc(100%/3);
}
.item{
    height: 250px;
    border-radius: 10%;
    border: 1px solid black;
    margin: 10px;
}